# Byte-compiled files
*.py[cod]
__pycache__/

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/
.env/

# Logs
*.log

# IDE settings
.vscode/
.idea/

# Mac system files
.DS_Store